# Godot 4+ specific ignores
.godot/
*.import/
*.translation
*.mono/
*.godot/mono/
*.tmp

# Export / build folders
bin/
android/
ios/
*.apk
*.aab
*.xcarchive
*.ipa

# Cache / temp files
.cache/
logs/
*.log

# OS-specific ignores
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Optional: ignore user-specific files
export_presets.cfg

node_modules/
site/
dist/
build/
.cache/
*.log
